.contents
  - @posts.each do |post|
    .content
      .content__title
        タイトル：
        = post.title
      .content__image
        = image_tag post.image
      .content__text
        写真のストーリー：
        = post.text
      .content__operation
        .content__operation__edit
          - if user_signed_in? && current_user.id == post.user_id
            = link_to edit_post_path(post) do
              edit
        .content__operation__destroy
          - if user_signed_in? && current_user.id == post.user_id
            = link_to post_path(post), method: :delete, data: {confirm: "削除してもよろしいですか？"} do
              delete
      .content__like
        .content__like__count
          -if current_user.already_liked?(post)
            = icon('far', 'thumbs-down')
            = button_to '取り消す', post_like_path(post), method: :delete
          - else
            = icon('far', 'thumbs-up')
            = button_to 'いいね', post_likes_path(post)
          = post.likes.count
        .content__like__users
          - post.liked_users.each do |user|
            = user.name